<h2 class="m-5">This is an example of powering a form strictly by JSON. The common use case for this would be to persist
    the form configuration in the databasee and then send the configuration up to power thee form. Notice that you can
    still use most features like <span>expressions</span> and <span>validators</span> even in a string form. For more
    advanced cases where javascript is needed (For example bind an observable to select options) a map function can be
    used to adjust the loaded JSON form.</h2>

<!-- <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button m-5">Submit</button>
</form> -->