<div class="m-5">
    <h5> This example shows how to determine when the control should trigger validation.</h5>
    <h5>By default, controls are validated on a `change` event. It may be a better experience to validate on `blur` or
        even `submit`,</h5>
    <h5>especially if async validation can become an expensive operation.</h5>
</div>



<div class="m-5">
    <b>Existing usernames</b>
    <ul>
        <li *ngFor="let u of existingUsers">{{ u }}</li>
    </ul>
</div>

<form [formGroup]="form" (ngSubmit)="submit()" class="m-5">
    <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
    <button type="submit" class="btn btn-primary submit-button">Submit</button>
</form>